Category: Ruby on Rails



<h1>This is a category list</h1>
<ul>

  <li>
    <a href="/heroku/ruby%20on%20rails/2016/12/31/post-with-2-categories.html">A post with 2 categories</a>
    <span>2016-12-31</span>
    <p></p>
  </li>

</ul>
