{{ page.title }}

{{ page.description }}

<h1>This is a category list</h1>
<ul>
{% for post in site.categories[page.category] %}
  <li>
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    <span>{{ post.date | date_to_html_string }}</span>
    <p></p>
  </li>
{% endfor %}
</ul>
