A post with 2 categories
My description

<p>Description of a post with 2 categories.</p>


<div id="category_links">
  <a class='category' href='/categories/Heroku/'>Heroku</a> <a class='category' href='/categories/Ruby%20on%20Rails/'>Ruby on Rails</a>
</div>